.app {
	padding: 10px;
}

.filter {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.table-wrapper {
	height: 85vh;
	border: 1px solid #e0e0e0;
	border-radius: 20px;
	overflow-y: auto;
	margin-bottom: 10px;
}
.table-wrapper::-webkit-scrollbar {
	width: 12px; /* width of the entire scrollbar */
}

.table-wrapper::-webkit-scrollbar-track {
	background: none; /* color of the tracking area */
}

.table-wrapper::-webkit-scrollbar-thumb {
	background-color: grey; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
}

.paginator {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.counter {
	font-size: x-large;
	margin: 0 15px;
}
.selector {
	margin-left: 50px;
	width: 130px;
}
.danger-text {
	color: red;
	font-size: 9;
	margin: 0;
}
